apiVersion: v2
name: dragonfly
description: Dragonfly is an intelligent P2P based image and file distribution system
icon: https://raw.githubusercontent.com/dragonflyoss/Dragonfly2/main/docs/images/logo/dragonfly.svg
type: application
version: 1.1.19
appVersion: 2.1.28
keywords:
  - dragonfly
  - d7y
  - P2P
  - image

maintainers:
  - name: jim3ma
    email: majinjing3@gmail.com
  - name: gaius-qi
    email: gaius.qi@gmail.com
  - name: yxxhero
    email: aiopsclub@163.com

home: https://d7y.io/

sources:
  - https://github.com/dragonflyoss/Dragonfly2

annotations:
  artifacthub.io/changes: |
    - Change default value of refresh interval in dynconfig.

  artifacthub.io/links: |
    - name: Chart Source
      url: https://github.com/dragonflyoss/helm-charts
    - name: Source
      url: https://github.com/dragonflyoss/Dragonfly2
  artifacthub.io/images: |
    - name: manager
      image: dragonflyoss/manager:v2.1.28
    - name: scheduler
      image: dragonflyoss/scheduler:v2.1.28
    - name: client
      image: dragonflyoss/client:v0.1.10
    - name: seed-client
      image: dragonflyoss/client:v0.1.10
    - name: dfdaemon
      image: dragonflyoss/dfdaemon:v2.1.28
    - name: trainer
      image: dragonflyoss/scheduler:v2.1.28
    - name: triton
      image: nvcr.io/nvidia/tritonserver:23.06-py3

dependencies:
  - name: mysql
    version: 9.4.6
    repository: https://charts.bitnami.com/bitnami
    condition: mysql.enable
  - name: redis
    version: 17.4.3
    repository: https://charts.bitnami.com/bitnami
    condition: redis.enable
  - name: jaeger
    version: 0.66.1
    repository: https://jaegertracing.github.io/helm-charts
    condition: jaeger.enable
