apiVersion: v2
name: dragonfly
description: Dragonfly is an intelligent P2P based image and file distribution system
icon: https://raw.githubusercontent.com/dragonflyoss/dragonfly/main/docs/images/logo/dragonfly.svg
type: application
version: 1.4.16
appVersion: 2.3.4-rc.0
keywords:
  - dragonfly
  - d7y
  - P2P
  - image

maintainers:
  - name: gaius-qi
    email: gaius.qi@gmail.com
  - name: yxxhero
    email: aiopsclub@163.com
  - name: jim3ma
    email: majinjing3@gmail.com

home: https://d7y.io/

sources:
  - https://github.com/dragonflyoss/dragonfly
  - https://github.com/dragonflyoss/client

annotations:
  artifacthub.io/changes: |
    - Bump client image to v1.0.38.
    - Bump manager and scheduler images to v2.3.4-rc.0.

  artifacthub.io/links: |
    - name: Chart Source
      url: https://github.com/dragonflyoss/helm-charts
    - name: Source
      url: https://github.com/dragonflyoss/dragonfly
    - name: Source
      url: https://github.com/dragonflyoss/client
  artifacthub.io/images: |
    - name: manager
     image: dragonflyoss/manager:v2.3.4-rc.0
    - name: scheduler
      image: dragonflyoss/scheduler:v2.3.4-rc.0
    - name: client
      image: dragonflyoss/client:v1.0.38
    - name: seed-client
      image: dragonflyoss/client:v1.0.38
    - name: dfinit
      image: dragonflyoss/dfinit:v1.0.38

dependencies:
  - name: mysql
    version: 10.1.1
    repository: https://charts.bitnami.com/bitnami
    condition: mysql.enable
  - name: redis
    version: 19.5.5
    repository: https://charts.bitnami.com/bitnami
    condition: redis.enable
