{{- if .Values.client.enable }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ template "dragonfly.client.fullname" . }}
  namespace: {{ include "common.names.namespace" . | quote }}
  labels:
    app: {{ template "dragonfly.fullname" . }}
    chart: {{ .Chart.Name }}-{{ .Chart.Version }}
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
    component: {{ .Values.client.name }}
data:
  dfdaemon.yaml: |-
    host:
{{ toYaml .Values.client.config.host | indent 6 }}
    server:
{{ toYaml .Values.client.config.server | indent 6 }}
    download:
{{ toYaml .Values.client.config.download | indent 6 }}
    upload:
{{ toYaml .Values.client.config.upload | indent 6 }}
    manager:
      {{- if .Values.client.config.manager.addrs }}
      addr: {{ .Values.client.config.manager.addr }}
      {{- else if .Values.manager.enable }}
      addr: http://{{ template "dragonfly.manager.fullname" . }}.{{ .Release.Namespace }}.svc.{{ .Values.clusterDomain }}:{{ .Values.manager.grpcPort }}
      {{- else }}
      addr: http://{{ .Values.externalManager.host }}:{{ .Values.externalManager.grpcPort }}
      {{- end }}
    scheduler:
{{ toYaml .Values.client.config.scheduler | indent 6 }}
    dynconfig:
{{ toYaml .Values.client.config.dynconfig | indent 6 }}
    storage:
{{ toYaml .Values.client.config.storage | indent 6 }}
    gc:
{{ toYaml .Values.client.config.gc | indent 6 }}
    proxy:
{{ toYaml .Values.client.config.proxy | indent 6 }}
    health:
{{ toYaml .Values.client.config.health | indent 6 }}
    metrics:
{{ toYaml .Values.client.config.metrics | indent 6 }}
    stats:
{{ toYaml .Values.client.config.stats | indent 6 }}
    {{- if .Values.client.config.tracing }}
    tracing:
{{ toYaml .Values.client.config.tracing | indent 6 }}
    {{- end }}
{{- end }}
