name: "Auto Assign"

on:
  pull_request_target:
    types: [opened, reopened, ready_for_review]

jobs:
  add-assignee:
    runs-on: ubuntu-latest
    steps:
      - uses: kentaro-m/auto-assign-action@72309cdba98adf773e9326cd1964e7d6bb7e1513
